@charset "UTF-8";
/*변수파일 불러오기*/ /*변수 선언하기*/
/*반응형 화면 크기*/
/*반응형 헤더 변화*/
/*반응형, 브라우저 크기가 767px 이하일 때*/
/*반응형, 브라우저 크기가 768px 이상 1023px 이하일 때*/
/*반응형, 브라우저 크기가 1024px 이상일 때*/
/*헤더 1199이하일 때 변화*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, AppleSDGothicNeo, Helvetica Neue, "Noto Sans KR", helvetica, sans-serif !important; /*영문,한글*/
  font-size: 17px;
  letter-spacing: 1px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  font: 1.3rem sans-serif;
}

video {
  display: block;
  margin: 0 auto;
}

#wrap {
  width: 100%;
  overflow: hidden;
}

.inner {
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

.content-text {
  margin-bottom: 80px;
}
.content-text h2.title {
  font-size: 3.5rem;
  line-height: 4.5rem;
}
.content-text h3.text {
  margin-top: 20px;
  letter-spacing: -0.2px;
}

/*페이드-업 효과*/
.fade-up {
  opacity: 0;
}

.delay {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay2 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.on {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fade_up;
          animation-name: fade_up;
}
@-webkit-keyframes fade_up {
  100% {
    opacity: 1;
    transform: 0;
  }
  0% {
    transform: translateY(80px);
  }
}
@keyframes fade_up {
  100% {
    opacity: 1;
    transform: 0;
  }
  0% {
    transform: translateY(80px);
  }
}

/*헤더*/
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  min-width: 320px;
  height: 80px;
  line-height: 80px;
  background-color: #000;
}
header #header-wrap {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
header h1.logo {
  flex: 1;
  padding-right: 1.8rem;
}
header h1.logo img {
  display: block;
  width: 150px;
}
header nav {
  flex: 5;
}
@media (max-width: 1199px) {
  header nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 320px;
    height: 100%;
  }
  header nav.show {
    display: block;
  }
}
header nav ul.gnb > li {
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem;
}
@media (max-width: 1199px) {
  header nav ul.gnb > li {
    display: block;
    position: relative;
    top: 100px;
    left: 30px;
    font-size: 1.25rem;
    line-height: 60px;
  }
}
header nav ul.gnb > li:hover .lnb {
  display: block;
}
header nav ul.gnb > li > a {
  display: block;
  color: #bababa;
}
@media (max-width: 1199px) {
  header nav ul.gnb > li > a {
    color: #000008;
  }
}
@media (max-width: 1199px) {
  header nav ul.gnb > li > a:hover {
    color: #000008;
  }
}
header nav ul.gnb > li > a.add::after {
  display: inline-block;
  width: 10px;
  font-family: "FontAweSome";
  content: "\f107";
}
header nav ul.gnb > li > a.add.hover::after { /*'hover' 클래스로 제어*/
  content: "\f106";
}
header nav ul.gnb > li .new {
  position: relative;
}
header nav ul.gnb > li .new::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/icon_new_bubble.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 28px;
  height: 20px;
}
@media (max-width: 1199px) {
  header nav ul.gnb > li .new::before {
    display: none;
  }
}
header nav ul.gnb .lnb {
  display: none;
  position: absolute;
  z-index: 100;
  transform: translate(-17px, -15px);
  background: #fff;
  border-radius: 16px;
  width: 240px;
}
header nav ul.gnb .lnb.show {
  display: block;
}
@media (max-width: 1199px) {
  header nav ul.gnb .lnb {
    position: relative;
  }
}
header nav ul.gnb .lnb a {
  display: block;
  font-size: 1rem;
  color: #292930;
  height: 70px;
  line-height: 70px;
}
@media (max-width: 1199px) {
  header nav ul.gnb .lnb a {
    height: 53px;
  }
}
header nav ul.gnb .lnb a::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  margin: 0 15px 0 25px;
}
header nav ul.gnb .lnb a:hover {
  color: #5c46ff;
}
header nav ul.gnb .lnb .item::before {
  background-image: url("../img/gnb_product_icon_item.svg");
}
header nav ul.gnb .lnb .world::before {
  background-image: url("../img/gnb_product_icon_world.svg");
}
header nav ul.gnb .lnb .live::before {
  background-image: url("../img/gnb_product_icon_live.svg");
}
header nav ul.gnb .lnb .build-it::before {
  background-image: url("../img/gnb_product_icon_build.svg");
}
header nav ul.gnb .lnb .guide::before {
  background-image: url("../img/gnb_guide_icon_guide.svg");
}
header nav ul.gnb .lnb .education::before {
  background-image: url("../img/gnb_guide_icon_learn.svg");
}
header nav ul.gnb .lnb .education {
  position: relative;
}
header nav ul.gnb .lnb .education::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 28px;
  height: 20px;
  background-image: url("../img/product_icon_new.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
header nav a.close {
  display: none;
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 1.8rem;
  color: #000008;
}
@media (max-width: 1199px) {
  header nav a.close {
    display: block;
  }
}
header ul.hd-top {
  display: inline-flex;
  justify-content: end;
  flex: 2;
}
header ul.hd-top li {
  display: inline-block;
}
header ul.hd-top .contents a {
  color: #fff;
  font-size: 0.85rem;
  border: 2px solid #fff;
  padding: 8px 20px;
  border-radius: 6px;
  vertical-align: middle;
  box-sizing: border-box;
}
header ul.hd-top .contents a:hover {
  background: #fff;
  color: #000008;
}
header ul.hd-top i {
  vertical-align: middle;
  color: #fff;
  font-size: 25px;
  margin-left: 20px;
  padding-right: 1.8rem;
}
header a.list {
  display: none;
  border: none;
  background: transparent;
  color: #fff;
  order: -1;
  font-size: 1.8rem;
  padding: 0 1.8rem;
  cursor: pointer;
}
@media (max-width: 1199px) {
  header a.list {
    display: block;
  }
}

/*메인*/
main {
  width: 100%;
  /*시작하기 버튼*/
  /* 컨텐츠 목록 나열 사이즈*/
}
main section:not(.main-home) {
  padding: 120px 0;
}
main section:not(.main-home) div, main section:not(.main-home) img, main section:not(.main-home) ul {
  width: 100%;
  text-align: center;
}
main a.btn-start {
  margin-top: 40px;
  display: inline-block;
  height: 68px;
  line-height: 68px;
  padding: 0 34px;
  background: rgb(255, 255, 255);
  border-radius: 34px;
  font-weight: 700;
  font-size: 1.29rem;
  color: #5c46ff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  cursor: pointer;
}
main .content-list li {
  display: inline-block;
  width: calc(33.333% - 20px);
  max-width: 286px;
}
main .content-list li h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
main .content-list li span {
  display: block;
  margin-top: 8px;
  font: 1.05rem sans-serif;
  line-height: 1.3rem;
  color: #5c5c61;
}
main .content-list li a.plus {
  margin-top: 40px;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 34px;
  background: #5c46ff;
  border-radius: 34px;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}
main section.main-home {
  /*섹션1 - main-home*/
  overflow: hidden;
  position: relative;
}
main section.main-home video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.main-home #text-area {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.main-home .inner-text {
  text-align: center;
}
main section.main-home .inner-text h2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
}
main section.creators {
  /*섹션2 - creators*/
}
main section.creators img {
  margin-bottom: 60px;
}
main section.reality {
  /*섹션3 - reality*/
  background-color: #f8f8fa;
}
main section.reality .reality-list > li:not(first-child) {
  margin-left: 36px;
}
main section.reality .reality-list > li {
  position: relative;
  display: inline-block;
  padding: 42px 32px 32px;
  background: #fff;
  border-radius: 16px;
  height: 24.47rem;
  max-width: 320px;
  width: calc(33.333% - 36px);
  vertical-align: middle;
}
main section.reality .content-list > li {
  display: block;
  width: 100%;
  max-width: 286px;
}
main section.reality .content-list > li img {
  width: 5.17rem;
}
main section.reality .content-list > li h4 {
  margin-top: 32px;
}
main section.reality .content-list > li span {
  margin-top: 15px;
  font-size: 1rem;
  word-spacing: 2px;
}
main section.reality .content-list > li a {
  position: absolute;
  bottom: 32px;
  left: 60px;
  right: 60px;
}
main section.creator {
  /*섹션4 - creator*/
}
main section.creator .content-text {
  margin-bottom: 140px;
}
main section.creator div.swiper.mySwiper {
  max-width: 1800px;
  margin: auto;
  box-sizing: border-box;
}
main section.creator .profile-box .name {
  font-weight: 700;
  font-size: 1.5rem;
}
main section.creator .profile-box .tag {
  font-size: 1.1rem;
  color: #5c5c61;
}
main section.profit {
  /*섹션5 - profit*/
  background-color: #f8f8fa;
  padding-bottom: 0;
}
main section.profit .content-text {
  margin: 0;
}
main section.get-start {
  /*섹션6 - get-start*/
}
main section.get-start .content-text {
  margin-bottom: 40px;
}
main section.get-start a.start {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0 34px;
  background: #5c46ff;
  border-radius: 34px;
  font-size: 1.18rem;
  color: #fff;
  cursor: pointer;
}
main section.get-start .step-box {
  /*STEP*/
  margin-top: 80px;
  padding: 56px 75px;
  background: #f8f8fa;
  border-radius: 16px;
  box-sizing: border-box;
}
main section.get-start .step-box .step-list {
  display: flex;
}
main section.get-start .step-box .step-item {
  flex: 3;
}
main section.get-start .step-box .step-item .number {
  font-size: 22px;
  font-weight: 700;
  background: #f0f0f0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  margin: 0 auto;
}
main section.get-start .step-box .step-item dl {
  margin-top: 22px;
}
main section.get-start .step-box .step-item dt {
  font-size: 1.29rem;
  font-weight: 700;
}
main section.get-start .step-box .step-item dd {
  margin-top: 12px;
  color: #5c5c61;
}
main section.get-start .step-box .right {
  flex: 2;
  color: #bababa;
  align-self: center;
  font-size: 1.5rem;
}

/*푸터*/
footer {
  border-top: 1px solid #eee;
  padding-top: 32px;
  height: 150px;
}
footer .inner {
  position: relative;
  height: 100%;
}
footer .footer-nav {
  position: absolute;
  top: 0;
  left: 0;
  /*폰트사이즈 및 간격 고정*/
}
footer .footer-nav li {
  display: inline-block;
}
footer .footer-nav li:not(:last-child)::after {
  margin: 0 12px;
  content: "|";
  font-size: 5px;
  color: #e9e9ef;
}
footer .footer-nav a {
  font-size: 12px;
  color: #5c5c61;
  line-height: 18px;
}
footer .footer-sns {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
footer .footer-sns li {
  margin: 0 8px;
}
footer .footer-sns a {
  font-size: 20px;
  color: #99999c;
}
footer .lang-select-box {
  position: absolute;
  top: 0;
  right: 150px;
}
footer .lang-select-box select {
  border: none;
  font-size: 17px;
  background: transparent;
  height: 22px;
  vertical-align: middle;
}
footer .lang-select-box select [selected] {
  color: #5c46ff;
}
footer .lang-select-box select option:hover {
  background-color: #eee !important;
}
footer .copyright {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 12px;
  color: #99999c;
  line-height: 18px;
}/*# sourceMappingURL=main.css.map */