@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, AppleSDGothicNeo, Helvetica Neue, "Noto Sans KR", helvetica, sans-serif !important; /*영문,한글*/
  font-size: 17px;
  letter-spacing: 1px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  font: 1.3rem sans-serif;
}

/*변수 선언하기*/
#wrap {
  width: 100%;
  overflow: hidden;
}

.inner {
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
  background: #dafde3;
}

.content-text {
  margin-bottom: 80px;
}
.content-text h2.title {
  font-size: 3.5rem;
  line-height: 4.5rem;
}
.content-text h3.text {
  margin-top: 20px;
  letter-spacing: -0.2px;
}

/*헤더*/
header {
  width: 100%;
  min-width: 320px;
  height: 80px;
  line-height: 80px;
  background-color: #000;
}
header #header-wrap {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
header h1.logo {
  flex: 1;
}
header h1.logo img {
  display: block;
  width: 150px;
}
header nav {
  flex: 5;
}
header nav ul.gnb > li {
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem;
}
header nav ul.gnb > li:hover .lnb {
  display: block;
}
header nav ul.gnb > li a {
  display: block;
  color: #bababa;
}
header nav ul.gnb > li span {
  display: none;
}
header nav ul.gnb > li span.on {
  display: inline-block;
}
header nav ul.gnb > li a:hover {
  color: #fff;
}
header nav ul.gnb > li .new {
  position: relative;
}
header nav ul.gnb > li .new::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/icon_new_bubble.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 28px;
  height: 20px;
}
header nav ul.gnb .lnb {
  display: none;
  position: absolute;
  z-index: 100;
  transform: translate(-17px, -15px);
  background: #fff;
  border-radius: 16px;
  width: 240px;
}
header nav ul.gnb .lnb a {
  display: block;
  font-size: 1rem;
  color: #292930;
  height: 70px;
  line-height: 70px;
}
header nav ul.gnb .lnb a::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  margin: 0 15px 0 25px;
}
header nav ul.gnb .lnb a:hover {
  color: #5c46ff;
}
header nav ul.gnb .lnb .item::before {
  background-image: url("../img/gnb_product_icon_item.svg");
}
header nav ul.gnb .lnb .world::before {
  background-image: url("../img/gnb_product_icon_world.svg");
}
header nav ul.gnb .lnb .live::before {
  background-image: url("../img/gnb_product_icon_live.svg");
}
header nav ul.gnb .lnb .build-it::before {
  background-image: url("../img/gnb_product_icon_build.svg");
}
header nav ul.gnb .lnb .guide::before {
  background-image: url("../img/gnb_guide_icon_guide.svg");
}
header nav ul.gnb .lnb .education::before {
  background-image: url("../img/gnb_guide_icon_learn.svg");
}
header nav ul.gnb .lnb .education {
  position: relative;
}
header nav ul.gnb .lnb .education::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 28px;
  height: 20px;
  background-image: url("../img/product_icon_new.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
header ul.hd-top {
  display: inline-flex;
  justify-content: end;
  flex: 1;
}
header ul.hd-top li {
  display: inline-block;
}
header ul.hd-top .contents a {
  color: #fff;
  font-size: 0.85rem;
  border: 2px solid #fff;
  padding: 8px 20px;
  border-radius: 6px;
  vertical-align: middle;
}
header ul.hd-top i {
  vertical-align: middle;
  color: #fff;
  font-size: 25px;
  margin-left: 20px;
}
header a.list {
  display: none;
  border: none;
  background: transparent;
  color: #fff;
}

/*메인*/
main {
  width: 100%;
  background: pink;
  /*시작하기 버튼*/
  /* 컨텐츠 목록 나열 사이즈*/
  /*섹션1 - main-home*/
  /*섹션2 - creators*/
  /*섹션3 - reality*/
  /*섹션4 - creator*/
  /*섹션6 - get-start*/
}
main section:not(.main-home) {
  padding: 120px 0;
}
main section:not(.main-home) div, main section:not(.main-home) img, main section:not(.main-home) ul {
  width: 100%;
  text-align: center;
}
main a.btn-start {
  margin-top: 40px;
  display: inline-block;
  height: 68px;
  line-height: 68px;
  padding: 0 34px;
  background: rgb(255, 255, 255);
  border-radius: 34px;
  font-weight: 700;
  font-size: 1.29rem;
  color: #5c46ff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  cursor: pointer;
}
main .content-list li {
  display: inline-block;
  width: calc(33.333% - 20px);
  max-width: 286px;
}
main .content-list li h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
main .content-list li span {
  display: block;
  margin-top: 8px;
  font: 1.05rem sans-serif;
  line-height: 1.3rem;
  color: #5c5c61;
}
main .content-list li a.plus {
  margin-top: 40px;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 34px;
  background: #5c46ff;
  border-radius: 34px;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  cursor: pointer;
}
main section.main-home {
  overflow: hidden;
  position: relative;
}
main section.main-home video {
  width: 100%;
  height: calc(100vh - 80px);
  -o-object-fit: cover;
     object-fit: cover;
}
main section.main-home #text-area {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.main-home .inner-text {
  text-align: center;
}
main section.main-home .inner-text h2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
}
main section.creators img {
  margin-bottom: 60px;
}
main section.reality {
  background-color: #f8f8fa;
}
main section.reality .reality-list > li:not(first-child) {
  margin-left: 36px;
}
main section.reality .reality-list > li {
  position: relative;
  display: inline-block;
  padding: 42px 32px 32px;
  background: #fff;
  border-radius: 16px;
  height: 24.47rem;
  max-width: 320px;
  width: calc(33.333% - 36px);
  vertical-align: middle;
}
main section.reality .content-list > li {
  display: block;
  width: 100%;
  max-width: 286px;
}
main section.reality .content-list > li img {
  width: 5.17rem;
}
main section.reality .content-list > li h4 {
  margin-top: 32px;
}
main section.reality .content-list > li span {
  margin-top: 15px;
  font-size: 1rem;
  line-height: 0.7rem;
  white-space: pre-wrap;
  word-spacing: 2px;
}
main section.reality .content-list > li a {
  position: absolute;
  bottom: 32px;
  left: 60px;
  right: 60px;
}
main section.creator .content-text {
  margin-bottom: 140px;
}
main section.creator div.swiper.mySwiper {
  max-width: 1800px;
  margin: auto;
  box-sizing: border-box;
}
main section.creator .profile-box .name {
  font-weight: 700;
  font-size: 1.5rem;
}
main section.creator .profile-box .tag {
  font-size: 1.1rem;
  color: #5c5c61;
}
main section.get-start .content-text {
  margin-bottom: 40px;
}
main section.get-start a.start {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0 34px;
  background: #5c46ff;
  border-radius: 34px;
  font-size: 1.18rem;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */