.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  height: max-content;
  overflow: visible;
}

.slide-content{
  overflow: visible;
}
.creator .swiper-slide .img-box{
  border-radius: 50%;
  box-shadow: 0 40px 30px 0 rgb(0 0 0 / 10%);
  margin-bottom: 28px;
  overflow: hidden;
}
.creator .swiper-slide:not(.swiper-slide-active) .img-box{
  transform: scale(0.9);
}
.creator .swiper-slide.swiper-slide-active .img-box{
  /* position: absolute;z-index: 5; */
  transform: scale(1.15);
}

/* active일 때 글씨 보이기 */
.profile-box{
  display: none;
}
.creator .swiper-slide-active .profile-box{
  display: block;
}
