@charset "UTF-8";

*{
  margin: 0; padding: 0; box-sizing: border-box !important;
}
html,body{
  width: 100%;
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,AppleSDGothicNeo,Helvetica Neue,'Noto Sans KR', helvetica, sans-serif !important; /*영문,한글*/
  font-size: 17px;
  letter-spacing: 1px;
}
ul,li{list-style: none;}
a{text-decoration: none;}
h3{font: 1.3rem sans-serif;}


/*변수 선언하기*/
$header-black: #000008;
$header-gray: #bababa;
$content-black: #292930;
$content-gray: #5c5c61;
$point-color: #5c46ff;
$copy-color: #99999c;


#wrap{width: 100%;overflow: hidden;}
.inner{
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
  background: #dafde3;
}
.content-text{
  margin-bottom: 80px;
  
  h2.title{
    font-size: 3.5rem;
    line-height: 4.5rem;
    
  }
  h3.text{
    margin-top: 20px;
    letter-spacing: -0.2px;
  }
}

/*헤더*/
header{
  width: 100%;
  min-width: 320px;
  height: 80px;
  line-height: 80px;
  background-color: #000;

  #header-wrap{
    width: 100%;height: 80px;
    display: flex;
    align-items: center;
  }

  h1.logo{
    flex: 1;

    img{
      display: block;
      width: 150px;
    }
  }
  
  nav{
    flex: 5;

    ul.gnb{
      >li{
        display: inline-block;
        vertical-align: top;
        margin-right: 2rem;

        &:hover{
          .lnb{display: block;}
        }

        a{display: block;color: $header-gray;}
        span{display: none;}
        span.on{
          display: inline-block;
        }

        a:hover{
          color: #fff;
        }
        .new{
          position: relative;
        }
        .new::before{
          content: "";
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
          background-image: url('../img/icon_new_bubble.svg');
          background-repeat: no-repeat;
          background-size: contain;

          width: 28px;
          height: 20px;
        
        }
      }

      .lnb{
        display: none;
        position: absolute; z-index: 100;
        transform: translate(-17px, -15px);
        background: #fff;
        border-radius: 16px;
        width: 240px;

        a{
          display: block;
          font-size: 1rem;
          color: $content-black;
          height: 70px;
          line-height: 70px;

          &::before{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            vertical-align: middle;
            display: inline-block;
            width: 30px;
            height: 30px;
            content: "";
            margin: 0 15px 0 25px;
          }

          &:hover{
            color: $point-color;
          }
        }
        .item::before{
          background-image: url('../img/gnb_product_icon_item.svg');
        }
        .world::before{
          background-image: url('../img/gnb_product_icon_world.svg');
        }
        .live::before{
          background-image: url('../img/gnb_product_icon_live.svg');
        }
        .build-it::before{
          background-image: url('../img/gnb_product_icon_build.svg');
        }
        .guide::before{
          background-image: url('../img/gnb_guide_icon_guide.svg');
        }
        .education::before{
          background-image: url('../img/gnb_guide_icon_learn.svg');
        }
        .education{
          position: relative;
        }
        .education::after{
          content: "";
          position: absolute; top: 50%; right: 10%;
          transform: translateY(-50%);
          width: 28px;height: 20px;
          background-image: url('../img/product_icon_new.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }
  }

  ul.hd-top{
    display: inline-flex;
    justify-content: end;
    flex: 1;

    li{
      display: inline-block;
    }

    .contents a{
      color: #fff;
      font-size: 0.85rem;
      border: 2px solid #fff;
      padding: 8px 20px;
      border-radius: 6px;
      vertical-align: middle;
    }

    i{
      vertical-align: middle;
      color: #fff;
      font-size: 25px;
      margin-left: 20px;
    }
  }

  a.list{
    display: none;
    border: none;
    background: transparent;
    color: #fff;
  }
}

/*메인*/
main{
  width: 100%;
  background: pink;
  
  // 섹션1 제외한 나머지는 같은 패딩값 줌
  section:not(.main-home){
    padding: 120px 0;
    div,img,ul{width: 100%;text-align: center;}
  }  
  /*시작하기 버튼*/
  a.btn-start{
    margin-top: 40px;
    display: inline-block;
    height: 68px;
    line-height: 68px;
    padding: 0 34px;
    background: rgba(255,255,255,1);
    border-radius: 34px;
    font-weight: 700;
    font-size: 1.29rem;
    color: $point-color;
    box-shadow: rgba(0,0,0,0.2) 0 0 20px;
    cursor: pointer;
  }

  /* 컨텐츠 목록 나열 사이즈*/
  .content-list li{
    display: inline-block;
    width: calc(33.333% - 20px);
    max-width: 286px;

    h4{
      font : {
        size: 1.6rem;
        weight: 700;
      }
    }
    
    span{
      display: block;
      margin-top: 8px;
      font: 1.05rem sans-serif;
      line-height: 1.3rem;
      color: $content-gray;
      // white-space: pre-wrap;
    }

    a.plus{
      margin-top: 40px;
      display: inline-block;
      height: 48px;
      line-height: 48px;
      padding: 0 34px;
      background: $point-color;
      border-radius: 34px;
      font-weight: 700;
      font-size: 1rem;
      color: #fff;
      box-shadow: rgba(0,0,0,0.2) 0 0 20px;
      cursor: pointer;
    }
  }


  /*섹션1 - main-home*/
  section.main-home{
    overflow: hidden;
    position: relative;

    video{
      width: 100%;
      height: calc(100vh - 80px);
      // 대체 콘텐츠 가로세로비 유지 & 가득 채움
      object-fit: cover;
    }
    #text-area{
      width: 100%;
      position: absolute;top: 50%;left: 50%;
      transform: translate(-50%, -50%);
    }
    .inner-text{
      // width: 100%;
      text-align: center;
  
      h2{
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.2;
        color: #fff;
        text-shadow: rgba(0,0,0,0.2) 0 0 8px;
      }
    }
  }

  
  /*섹션2 - creators*/
  section.creators{
    background: skyblue;

    img{margin-bottom: 60px;}
  }


  /*섹션3 - reality*/
  section.reality{
    background-color: #f8f8fa;

    .reality-list>li:not(first-child){
      margin-left: 36px;
    }
    .reality-list>li{
      position: relative;
      display: inline-block;
      padding: 42px 32px 32px;
      background: #fff;
      border-radius: 16px;
      height: 24.47rem;
      max-width: 320px;
      width: calc(33.333% - 36px);
      vertical-align: middle;
    }

    .content-list>li{
      display: block;
      width: 100%;
      max-width: 286px;

      img{
        width: 5.17rem;
      }
      h4{margin-top: 32px;}

      span{
        margin-top: 15px;
        font-size: 1rem;
        line-height: 0.7rem;
        white-space: pre-wrap;
        word-spacing: 2px;
      }

      a{
        position: absolute;
        bottom: 32px;
        left: 60px;right: 60px;
      }
    }
  }


  /*섹션4 - creator*/
  section.creator{
    background-color: #fff;

    div.swiper.mySwiper{
      max-width: 1800px;
      margin: auto;
      box-sizing: border-box;
      // background: #dafde3;
    }
  }


}