@charset "UTF-8";

*{
  margin: 0; padding: 0; box-sizing: border-box !important;
}
html,body{
  width: 100%;
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,AppleSDGothicNeo,Helvetica Neue,'Noto Sans KR', helvetica, sans-serif !important; /*영문,한글*/
  font-size: 17px;
  letter-spacing: 1px;
}
ul,li{list-style: none;}
a{text-decoration: none;}
h3{font: 1.3rem sans-serif;}
video{display: block;margin: 0 auto;}


/*변수 선언하기*/
$header-black: #000008;
$header-gray: #bababa;
$content-black: #292930;
$content-gray: #5c5c61;
$content-back: #f8f8fa;
$point-color: #5c46ff;
$copy-color: #99999c;


#wrap{width: 100%;overflow: hidden;}
.inner{
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
  // background: #dafde3;
}
.content-text{
  margin-bottom: 80px;
  
  h2.title{
    font-size: 3.5rem;
    line-height: 4.5rem;
    
  }
  h3.text{
    margin-top: 20px;
    letter-spacing: -0.2px;
  }
}

// /*페이드-업 효과*/
// .fade-up{
//   opacity: 0;
//   position: relative;bottom: -70px;
// }


@mixin animate($duration, $mode, $name){
  animation-duration: $duration;
  animation-fill-mode: $mode;
  animation-name: $name;
}
@mixin keyframe ($animation_name) {
  @keyframes #{$animation_name} {
    @content;    
  }
}


/*페이드-업 효과*/
.fade-up{
  opacity: 0;
}
.delay{
  animation-delay: 0.5s;
}
.delay2{
  animation-delay: 0.7s;
}
.on{
  @include animate(0.75s, both, fade-up);
  @include keyframe (fade-up) {
    100% {
      opacity: 1;
      transform: 0;
    }0%{
      // opacity: 0;
      transform: translateY(80px);
    }
  }
}

/*헤더*/
header{
  position: fixed;z-index: 100;
  width: 100%;
  min-width: 320px;
  height: 80px;
  line-height: 80px;
  background-color: #000;

  #header-wrap{
    width: 100%;height: 80px;
    display: flex;
    align-items: center;
  }

  h1.logo{
    flex: 1;

    img{
      display: block;
      width: 150px;
    }
  }
  
  nav{
    flex: 5;

    ul.gnb{
      >li{
        display: inline-block;
        vertical-align: top;
        margin-right: 2rem;

        &:hover{
          .lnb{display: block;}
        }

        a{display: block;color: $header-gray;}
        .add::after{
          display: inline-block;
          width: 10px;
          font-family: "FontAweSome";
          content: "\f107";
        }
        .add:hover::after{
          content: "\f106";
        }
        // span{display: none;}
        // span.on{
        //   display: inline-block;
        // }

        a:hover{
          color: #fff;
        }
        .new{
          position: relative;
        }
        .new::before{
          content: "";
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
          background-image: url('../img/icon_new_bubble.svg');
          background-repeat: no-repeat;
          background-size: contain;

          width: 28px;
          height: 20px;
        
        }
      }

      .lnb{
        display: none;
        position: absolute; z-index: 100;
        transform: translate(-17px, -15px);
        background: #fff;
        border-radius: 16px;
        width: 240px;

        a{
          display: block;
          font-size: 1rem;
          color: $content-black;
          height: 70px;
          line-height: 70px;

          &::before{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            vertical-align: middle;
            display: inline-block;
            width: 30px;
            height: 30px;
            content: "";
            margin: 0 15px 0 25px;
          }

          &:hover{
            color: $point-color;
          }
        }
        .item::before{
          background-image: url('../img/gnb_product_icon_item.svg');
        }
        .world::before{
          background-image: url('../img/gnb_product_icon_world.svg');
        }
        .live::before{
          background-image: url('../img/gnb_product_icon_live.svg');
        }
        .build-it::before{
          background-image: url('../img/gnb_product_icon_build.svg');
        }
        .guide::before{
          background-image: url('../img/gnb_guide_icon_guide.svg');
        }
        .education::before{
          background-image: url('../img/gnb_guide_icon_learn.svg');
        }
        .education{
          position: relative;
        }
        .education::after{
          content: "";
          position: absolute; top: 50%; right: 10%;
          transform: translateY(-50%);
          width: 28px;height: 20px;
          background-image: url('../img/product_icon_new.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }
  }

  ul.hd-top{
    display: inline-flex;
    justify-content: end;
    flex: 2;

    li{
      display: inline-block;
    }

    .contents a{
      color: #fff;
      font-size: 0.85rem;
      border: 2px solid #fff;
      padding: 8px 20px;
      border-radius: 6px;
      vertical-align: middle;
      box-sizing: border-box;

      &:hover{
        background: #fff;
        color: $header-black;
      }
    }

    i{
      vertical-align: middle;
      color: #fff;
      font-size: 25px;
      margin-left: 20px;
    }
  }

  a.list{
    display: none;
    border: none;
    background: transparent;
    color: #fff;
  }
}


/*메인*/
main{
  width: 100%;
  
  // 섹션1 제외한 나머지는 같은 패딩값 줌
  section:not(.main-home){
    padding: 120px 0;
    div,img,ul{width: 100%;text-align: center;}
  }  
  /*시작하기 버튼*/
  a.btn-start{
    margin-top: 40px;
    display: inline-block;
    height: 68px;
    line-height: 68px;
    padding: 0 34px;
    background: rgba(255,255,255,1);
    border-radius: 34px;
    font-weight: 700;
    font-size: 1.29rem;
    color: $point-color;
    box-shadow: rgba(0,0,0,0.2) 0 0 20px;
    cursor: pointer;
  }

  /* 컨텐츠 목록 나열 사이즈*/
  .content-list li{
    display: inline-block;
    width: calc(33.333% - 20px);
    max-width: 286px;

    h4{
      font : {
        size: 1.6rem;
        weight: 700;
      }
    }
    
    span{
      display: block;
      margin-top: 8px;
      font: 1.05rem sans-serif;
      line-height: 1.3rem;
      color: $content-gray;
      // white-space: pre-wrap;
    }

    // 더 알아보기
    a.plus{
      margin-top: 40px;
      display: inline-block;
      height: 48px;
      line-height: 48px;
      padding: 0 34px;
      background: $point-color;
      border-radius: 34px;
      font-weight: 700;
      font-size: 1rem;
      color: #fff;
      // box-shadow: rgba(0,0,0,0.2) 0 0 20px;
      cursor: pointer;
    }
  }


  /*섹션1 - main-home*/
  section.main-home{
    overflow: hidden;
    position: relative;

    video{
      width: 100%;
      height: 100vh;
      // 대체 콘텐츠 가로세로비 유지 & 가득 채움
      object-fit: cover;
    }
    #text-area{
      width: 100%;
      position: absolute;top: 50%;left: 50%;
      transform: translate(-50%, -50%);
    }
    .inner-text{
      // width: 100%;
      text-align: center;
  
      h2{
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.2;
        color: #fff;
        text-shadow: rgba(0,0,0,0.2) 0 0 8px;
      }
    }
  }

  
  /*섹션2 - creators*/
  section.creators{
    img{margin-bottom: 60px;}
  }


  /*섹션3 - reality*/
  section.reality{
    background-color: $content-back;

    .reality-list>li:not(first-child){
      margin-left: 36px;
    }
    .reality-list>li{
      position: relative;
      display: inline-block;
      padding: 42px 32px 32px;
      background: #fff;
      border-radius: 16px;
      height: 24.47rem;
      max-width: 320px;
      width: calc(33.333% - 36px);
      vertical-align: middle;
    }

    .content-list>li{
      display: block;
      width: 100%;
      max-width: 286px;

      img{
        width: 5.17rem;
      }
      h4{margin-top: 32px;}

      span{
        margin-top: 15px;
        font-size: 1rem;
        // line-height: 0.7rem;
        // white-space: pre-wrap;
        word-spacing: 2px;
      }

      a{
        position: absolute;
        bottom: 32px;
        left: 60px;right: 60px;
      }
    }
  }


  /*섹션4 - creator*/
  section.creator{
    .content-text{
      margin-bottom: 140px;
    }

    div.swiper.mySwiper{
      max-width: 1800px;
      margin: auto;
      box-sizing: border-box;
    }
    .profile-box{
      .name{font-weight: 700;font-size: 1.5rem;}
      .tag{font-size: 1.1rem;color: $content-gray;}
    }
  }

  /*섹션5 - profit*/
  section.profit{
    background-color: $content-back;
    padding-bottom: 0;

    .content-text{
      margin: 0;
    }
  }
  

  /*섹션6 - get-start*/
  section.get-start{
    .content-text{
      margin-bottom: 40px;
    }
    a.start{
      display: inline-block;
      height: 56px;
      line-height: 56px;
      padding: 0 34px;
      background: $point-color;
      border-radius: 34px;
      font-size: 1.18rem;
      color: #fff;
      // box-shadow: rgba(0,0,0,0.2) 0 0 20px;
      cursor: pointer;
    }

    /*STEP*/
    .step-box{
      margin-top: 80px;
      padding: 56px 75px;
      background: $content-back;
      border-radius: 16px;
      box-sizing: border-box;

      .step-list{
        display: flex;
      }

      .step-item{
        flex: 3;
        .number{
          font-size: 22px;
          font-weight: 700;
          background: #f0f0f0;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          line-height: 38px;
          text-align: center;
          margin: 0 auto;
        }
        dl{
          margin-top: 22px;
        }
        dt{
          font-size: 1.29rem;
          font-weight: 700;
        }
        dd{
          margin-top: 12px;;
          color: $content-gray;
        }
      }
      .right{
        flex: 2;
        color: #bababa;
        align-self: center;
        font-size: 1.5rem;
      }
    }
  }
}


/*푸터*/
footer{
  border-top: 1px solid #eee;
  padding-top: 32px;
  height: 150px;

  .inner{
    position: relative;
    height: 100%;
  }

  .footer-nav{
    position: absolute;top: 0;left: 0;
      /*폰트사이즈 및 간격 고정*/

    li{display: inline-block;}
    li:not(:last-child)::after{
      margin: 0 12px;
      content: "\007C";
      font-size: 5px;
      color: #e9e9ef;
    }
    a{
      font-size: 12px;
      color: $content-gray;
      line-height: 18px;
    }
  }

  .footer-sns{
    position: absolute;top: 0;right: 0;
    display: flex;
    
    li{margin: 0 8px;}
    a{
      font-size: 20px;
      color: $copy-color;
    }
  }

  .lang-select-box{
    position: absolute;top: 0;right: 150px;

    select{
      border: none;
      font-size: 17px;
      background: transparent;
      height: 22px;
      vertical-align: middle;

      [selected]{
        color: $point-color;
      }
      option:hover{
        background-color: #eee !important;
      }
    }
  }

  .copyright{
    position: absolute;top: 30px;left: 0;
    font-size: 12px;
    color: $copy-color;
    line-height: 18px;
  }
}