@charset "UTF-8";

/*변수파일 불러오기*/
@import './util.scss';

*{
  margin: 0; padding: 0; box-sizing: border-box !important;
}
html,body{
  width: 100%;
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,AppleSDGothicNeo,Helvetica Neue,'Noto Sans KR', helvetica, sans-serif !important; /*영문,한글*/
  font-size: 17px;
  letter-spacing: 1px;
}
body{overscroll-behavior: contain;}   /*모바일 최상단 스크롤 시 새로고침 막기*/
ul,li{list-style: none;}
a{text-decoration: none;}
h3{font: 1.3rem sans-serif;}
video{display: block;margin: 0 auto;}

#wrap{width: 100%;overflow: hidden;}
.inner{
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
  // background: #dafde3;

  @include header-change{max-width: 980px;}
}
.content-text{
  margin-bottom: 80px;

  @include tablet{padding: 0 40px;}
  @include mobile{margin-bottom: 24px;}
  
  h2.title{
    font-size: 3.5rem;
    line-height: 4.5rem;
    
    @include mobile{
      font-size: 1.88rem;
      line-height: 2.35rem;
    }
  }
  h3.text{
    margin-top: 20px;
    letter-spacing: -0.2px;

    @include mobile{
      margin-top: 17px;
      font-size: 0.88rem;
    }
  }
}


/*페이드-업 효과*/
.fade-up{
  opacity: 0;
}
.delay{
  animation-delay: 0.5s;
}
.delay2{
  animation-delay: 0.7s;
}
.on{
                // 지속시간, 모드, 이름
  @include animate(0.75s, both, fade_up);
  @include keyframe (fade_up) {
    100% {
      opacity: 1;
      transform: 0;
    }0%{
      // opacity: 0;
      transform: translateY(80px);
    }
  }
}

/*헤더*/
header{
  position: fixed;z-index: 100;
  width: 100%;
  min-width: 320px;
  height: 80px;
  line-height: 80px;
  background-color: #000;

  @include mobile{
    height: 60px;
    line-height: 60px;
  }

  #header-wrap{
    width: 100%;height: 80px;
    display: flex;
    align-items: center;

    @include mobile{height: 60px;}
  }

  h1.logo{
    flex: 1;
    padding-right: 1.8rem;

    @include mobile{
      padding: 1.4rem;
    }

    img{
      display: block;
      width: 150px;

      @include mobile{
        width: 130px;
      }
    }
  }
  
  nav{
    flex: 5;

    @include header-change{
      display: none;

      position: fixed;top: 0;left: 0;
      background: #fff;
      width: 320px;
      height: 100%;
    }
    @include mobile{
      width: 100%;
    }

    ul.gnb{
      >li{
        display: inline-block;
        vertical-align: top;
        margin-right: 2rem;

        @include header-change{
          display: block;
          position: relative;
          top: 100px;left: 30px;
          font-size: 1.25rem;
          line-height: 60px;
        }

        &:hover{
          .lnb{display: block;}
        }

        >a{
          display: block;color: $header-gray;
        
          @include header-change{color: $header-black;}

          &:hover{  // color: #fff;   //클래스로 제어
            @include header-change{color: $header-black;}
          }
        }

        >a.add{
          &.hover{color: #fff;  /*'hover' 클래스로 제어*/}
          &.change-hover{color: $header-black;  /*'hover' 클래스로 제어*/}
          &::after{
            display: inline-block;
            width: 10px;
            font-family: "FontAweSome";
            content: "\f107";
          }

          &.hover::after, &.change-hover::after{   /*'hover' 클래스로 제어*/
            content: "\f106";
          }
        }
        .new{
          position: relative;

          &::before{
            content: "";
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            background-image: url('../img/icon_new_bubble.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 28px;
            height: 20px;
          
            @include header-change{display: none;}
          }
        }
      }

      .lnb{
        display: none;

        position: absolute; z-index: 100;
        transform: translate(-17px, -15px);
        background: #fff;
        border-radius: 16px;
        width: 240px;
        &.show{display: block;}

        @include header-change{
          position: relative;
        }

        a{
          display: block;
          font-size: 1rem;
          color: $content-black;
          height: 70px;
          line-height: 70px;

          @include header-change{
            height: 53px;
          }

          &::before{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            vertical-align: middle;
            display: inline-block;
            width: 30px;
            height: 30px;
            content: "";
            margin: 0 15px 0 25px;
          }

          &:hover{
            color: $point-color;
          }
        }
        .item::before{
          background-image: url('../img/gnb_product_icon_item.svg');
        }
        .world::before{
          background-image: url('../img/gnb_product_icon_world.svg');
        }
        .live::before{
          background-image: url('../img/gnb_product_icon_live.svg');
        }
        .build-it::before{
          background-image: url('../img/gnb_product_icon_build.svg');
        }
        .guide::before{
          background-image: url('../img/gnb_guide_icon_guide.svg');
        }
        .education::before{
          background-image: url('../img/gnb_guide_icon_learn.svg');
        }
        .education{
          position: relative;
        }
        .education::after{
          content: "";
          position: absolute; top: 50%; right: 10%;
          transform: translateY(-50%);
          width: 28px;height: 20px;
          background-image: url('../img/product_icon_new.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }

      
      .lang-select-box{
        display: none;
        margin-top: 20px;
  
        @include header-change{
          display: block;
        }
  
        select{
          border: none;
          font-size: 17px;
          background: transparent;
          height: 22px;
          vertical-align: middle;
          outline: 0; //포커스 없애기

          @include mobile{
            width: 100%;
            background: url('../img/caret-down-solid.svg') no-repeat 60px -1px;
            
            // 화살표 디자인 없애기
            -webkit-appearance:none; /* for chrome */
            -moz-appearance:none; /*for firefox*/
            appearance:none;

            option{
              width: 100%;
              height: 1.3rem;
              // zoom: 1.5;
              // line-height: 3rem;
            }
          }

          [selected]{
            color: $point-color;
          }
          option:hover{
            background-color: #eee !important;
          }
        }
      }
    }

    a.close{
      display: none;
      
      position: absolute;top: 15px;left: 30px;
      font-size: 1.8rem;
      color: $header-black;

      @include header-change{
        display: block;
      }
      @include mobile{
        left: initial;
        right: 30px;
        font-size: 1.4rem;
      }
    }

    
    
  }

  ul.hd-top{
    display: inline-flex;
    justify-content: end;
    flex: 2;

    li{
      display: inline-block;
    }
    .contents{
      @include mobile{
        display: none;
      }
    }

    .contents a{
      color: #fff;
      font-size: 0.85rem;
      border: 2px solid #fff;
      padding: 8px 20px;
      border-radius: 6px;
      vertical-align: middle;
      box-sizing: border-box;

      &:hover{
        background: #fff;
        color: $header-black;
      }
    }

    i{
      vertical-align: middle;
      color: #fff;
      font-size: 25px;
      margin-left: 20px;
      padding-right: 1.8rem;

      @include mobile{
        padding: 0;
      }
    }
  }

  a.list{
    display: none;
    border: none;
    background: transparent;
    color: #fff;
    order: -1;
    font-size: 1.8rem;
    padding: 0 1.8rem;
    cursor: pointer;

    @include header-change{
      display: block;
    }
    @include mobile{
      order: initial;
      padding: 0 1.1rem;
      font-size: 1.4rem;
    }
  }
}


/*메인*/
main{
  width: 100%;
  
  // 섹션1 제외한 나머지는 같은 패딩값 줌
  section:not(.main-home){
    padding: 120px 0;
    div,img,ul{width: 100%;text-align: center;}

    @include mobile{
      padding: 60px 0;
    }
  }  
  /*시작하기 버튼*/
  a.btn-start{
    display: inline-block;
    margin-top: 40px;
    padding: 0 34px;
    height: 68px; line-height: 68px;
    background: rgba(255,255,255,1);
    border-radius: 34px;
    font-weight: 700;
    font-size: 1.29rem;
    color: $point-color;
    box-shadow: rgba(0,0,0,0.2) 0 0 20px;
    cursor: pointer;
    
    @include mobile{
      margin-top: 28px;
      padding: 0 20px;
      font-size: 0.76rem;
      height: 40px; line-height: 40px;
    }
  }

  /* 컨텐츠 목록 나열 사이즈*/
  .content-list li{
    display: inline-block;
    width: calc(33.333% - 20px);
    max-width: 286px;

    h4{
      font : {
        size: 1.6rem;
        weight: 700;
      }
      @include mobile{line-height: 2rem;}
    }
    
    span{
      display: block;
      margin-top: 8px;
      font: 1.05rem sans-serif;
      line-height: 1.3rem;
      color: $content-gray;
      // white-space: pre-wrap;

      @include mobile{font-size: 0.88rem;}
    }

    // 더 알아보기
    a.plus{
      margin-top: 40px;
      display: inline-block;
      height: 48px;
      line-height: 48px;
      padding: 0 34px;
      background: $point-color;
      border-radius: 34px;
      font-weight: 700;
      font-size: 1rem;
      color: #fff;
      // box-shadow: rgba(0,0,0,0.2) 0 0 20px;
      cursor: pointer;
    }
  }


  section.main-home{
    /*섹션1 - main-home*/
    overflow: hidden;
    position: relative;

    video{
      width: 100%;
      height: 100vh;
      // 대체 콘텐츠 가로세로비 유지 & 가득 채움
      object-fit: cover;
      padding-top: 80px;

      @include mobile{height: 396px;margin-top: 60px;padding-top: 0;}
    }
    #text-area{
      width: 100%;
      position: absolute;
      top: calc( (100% + 80px) / 2 ); left: 50%;
      transform: translate(-50%, -50%);
    }
    .inner-text{
      // width: 100%;
      text-align: center;
  
      h2{
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.2;
        color: #fff;
        text-shadow: rgba(0,0,0,0.2) 0 0 8px;
        
        @include mobile{font-size: 2.35rem;}
      }
    }
  }

  
  section.creators{
    /*섹션2 - creators*/
    img{
      margin-bottom: 60px;
    
      @include mobile{margin-bottom: 32px;}
    }

    li{
      @include tablet{
        display: block;
        width: 100%;
        max-width: initial;
  
        &:not(:first-child){
          margin-top: 64px;

          @include mobile{margin-top: 40px;}
        }
      }
    }
  }


  section.reality{
    /*섹션3 - reality*/
    background-color: $content-back;

    .reality-list>li:not(:first-child){
      margin-left: 36px;

      @include tablet{margin: 36px auto 0;}
      @include tablet{margin: 20px auto 0;}
    }
    .reality-list>li{
      position: relative;
      display: inline-block;
      padding: 42px 32px 32px;
      background: #fff;
      border-radius: 16px;
      height: 24.47rem;
      max-width: 320px;
      width: calc(33.333% - 36px);
      vertical-align: middle;

      @include tablet{
        display: block;
        width: 92%;
        max-width: initial;
        height: initial;
        margin: 0 auto;
        text-align-last: left;
        padding: 42px 42px 42px 0;
      }
      @include mobile{
        padding: 24px 24px 24px 0;
      }

      &::nth-child(1){
        @include mobile{margin-top: 20px;}
      }
    }
    .content-list{
      @include tablet{
        display: flex;
        align-items: center;
      }
    }
    .content-list>li{
      display: block;
      width: 100%;
      max-width: 286px;

      @include tablet{
        max-width: initial;

        &:nth-child(1){
          flex:2;
          justify-content: center;
          display: inherit;

          @include mobile{flex: 1.5rem;}
        }
        &:nth-child(2){
          flex:6;
        }
        &:nth-child(3){
          display: inherit;
          flex:3;
          justify-content: end;
          font-size: 1.5rem;
        }
        i{color: #bababa;}
      }

      img{
        width: 5.17rem;
        
        @include mobile{width: 2.58rem}
      }
      h4{
        margin-top: 32px;
      
        @include tablet{margin-top: initial;}
        @include mobile{
          font-size: 1rem;
        }
      }
      span{
        margin-top: 15px;
        font-size: 1rem;
        word-spacing: 2px;
        text-align: left;

        @include mobile{
          margin-top: 4px;
          font-size: 0.76rem;
          word-spacing: 1px;
        }
      }
      a{
        position: absolute;
        bottom: 32px;
        left: 60px;right: 60px;

        @include tablet{
          display: none;
          position: initial;
        }
        &.right{
          display: none;
          text-align: right;

          @include tablet{
            display: block;
          }
          @include mobile{
            font-size: 0.9rem;
          }
        }
      }
    }
  }


  section.creator{
    /*섹션4 - creator*/
    .content-text{
      margin-bottom: 140px;

      @include mobile{margin-bottom: 50px;}
    }

    div.swiper.mySwiper{
      max-width: 1800px;
      margin: auto;
      box-sizing: border-box;
    }
    .profile-box{
      .name{font-weight: 700;font-size: 1.5rem;}
      .tag{font-size: 1.1rem;color: $content-gray;}
    }
  }

  section.profit{
    /*섹션5 - profit*/
    background-color: $content-back;
    padding-bottom: 0;

    .content-text{
      margin: 0;
    }
    video{width: 100%;}
  }
  

  section.get-start{
    /*섹션6 - get-start*/
    .content-text{
      margin-bottom: 40px;

      @include mobile{
      margin-bottom: 24px;
      }
    }
    a.start{
      display: inline-block;
      height: 56px;
      line-height: 56px;
      padding: 0 34px;
      background: $point-color;
      border-radius: 34px;
      font-size: 1.18rem;
      color: #fff;
      cursor: pointer;

      @include mobile{
        height: 36px; line-height: 36px;
        padding: 0 20px;
        font-size: 0.7rem;
      }
    }

    .step-box{
      /*STEP*/
      margin-top: 80px;
      padding: 56px 75px;
      background: $content-back;
      border-radius: 16px;
      box-sizing: border-box;

      @include tablet{
        width: 92%;
        margin: 80px auto 0;
        padding: 48px 36px;
      }
      @include mobile{
        margin-top: 40px;
        padding: 30px 0;
      }

      .step-list{
        display: flex;

        @include tablet{
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .step-item{
        flex: 3;

        @include tablet{
          display: inline-flex;
          align-items: center;
          text-align: left;
        }

        .number{
          font-size: 22px;
          font-weight: 700;
          background: #f0f0f0;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          line-height: 38px;
          text-align: center;
          margin: 0 auto;

          @include tablet{
            margin: auto 20px;
          }
          @include mobile{
            font-size: 0.88rem;
            flex: none;
          }
        }
        dl{
          margin-top: 22px;

          @include mobile{
            margin-top: 0;
          }
        }
        dt{
          font-size: 1.29rem;
          font-weight: 700;

          @include mobile{
            font-size: 1rem;
          }
        }
        dd{
          margin-top: 12px;
          color: $content-gray;

          @include mobile{
            font-size: 0.76rem;
            margin-top: 6px;
          }
        }
      }
      .right, .down{
        flex: 2;
        color: #bababa;
        align-self: center;
        font-size: 1.5rem;

        @include tablet{
          padding: 25px 0;
        }
        @include mobile{
          padding: 15px 0;
          font-size: 0.9rem;
        }
      }
      
      .right{
        @include tablet{display: none;}
      }
      .down{
        display: none;
        @include tablet{display: block;}
      }
    }
  }
}


/*푸터*/
footer{
  border-top: 1px solid #eee;
  padding-top: 32px;
  height: 150px;
  
  @include mobile{
    height: 250px;
    padding-top: 25px;
  }

  .inner{
    position: relative;
    height: 100%;

    @include tablet{
      width: 92%;
    }
  }

  .footer-nav{
    position: absolute;top: 0;left: 0;
      /*폰트사이즈 및 간격 고정*/

      @include mobile{
        top: 35px;left:50%;
        transform: translateX(-50%);
      }

    li{
      display: inline-block;
    
      @include mobile{
        display: block;
        text-align: center;
        padding: 3px 0;
      }
    }
    li:not(:last-child)::after{
      margin: 0 12px;
      content: "\007C";
      font-size: 5px;
      color: #e9e9ef;

      @include mobile{
        display: none;
      }
    }
    a{
      font-size: 12px;
      color: $content-gray;
      line-height: 18px;
    }
  }

  .footer-sns{
    position: absolute;top: 0;right: 0;
    display: flex;
    
    @include mobile{
      right: 50%;
      transform: translateX(50%);
    }

    li{margin: 0 8px;}
    a{
      font-size: 20px;
      color: #c9c9c9;
    }
  }

  .lang-select-box{
    position: absolute;top: 0;right: 150px;

    @include mobile{
      display: none;
    }

    select{
      border: none;
      font-size: 17px;
      background: transparent;
      height: 22px;
      vertical-align: middle;

      [selected]{
        color: $point-color;
      }
      option:hover{
        background-color: #eee !important;
      }
    }
  }

  .copyright{
    position: absolute;top: 30px;left: 0;
    font-size: 12px;
    color: $copy-color;
    line-height: 18px;

    @include mobile{
      top: initial;left: 50%;bottom: 25px;
      transform: translateX(-50%);
      text-align: center;
      width: 100%;
    }
  }
}